body#layout .adminbar {
	display: block !important;
	width: 280px;
	float: left;
	height: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #ff1769;
	background: -moz-linear-gradient(45deg, #ff1769 0%, #ff1769 25%, #c471f5 100%);
	background: -webkit-linear-gradient(45deg, #ff1769 0%, #ff1769 25%, #c471f5 100%);
	background: linear-gradient(45deg, #ff1769 0%, #ff1769 25%, #c471f5 100%);
	box-sizing: border-box;
	padding-top: 100px;
}

body#layout .userinput>div {
	display: block;
	height: auto !important;
	visibility: visible !important;
}

body#layout .top-bar,
body#layout .header-wrap,
body#layout .tm-menu,
body#layout .blossomt-wrapper,
body#layout #ads-blog,
body#layout #content-wrapper,
body#layout #footer {
	display: block;
	box-sizing: border-box;
	padding-left: 300px;
}

body#layout {
	background: #fff;
	min-width: 950px;
}

body#layout .adminbar .section {
	background: transparent !important;
	border: 0px !important;
	color: #fff;
}

body#layout .adminbar .section>h4 {
	font-size: 14px;
	margin-left: 0px;
}

body#layout .adminbar:before {
	content: url("https://1.bp.blogspot.com/-8fs3SUfEIrw/WbEsGiwKmUI/AAAAAAAAAdA/ueQ-8W-rFaMrwfW_VOGO-5ozM4SIzPM8wCLcBGAs/w230-h300/adm2.png");
}

body#layout .adminbar:after {
	content: "(C) Copyright 2017, Blossom Themes. All Rights reserved.";
	position: absolute;
	bottom: 10px;
	width: 280px;
	left: 0px;
	color: rgba(255, 255, 255, 0.7);
	font-family: Arial;
	font-weight: bold;
}

body#layout .tm-menu .widget {
	visibility: visible !important;
	display: block !important;
	height: auto !important;
	clear: both;
}

body#layout #menu {
	display: table;
	width: 100%;
	box-sizing: border-box;
	margin-left: 0px;
}

body#layout .top-bar-menu {
	width: 45%;
	box-sizing: border-box;
	padding-right: 10px;
	margin: 0px !important;
	box-sizing: border-box !important;
}

body#layout .top-bar-social {
	width: 45%;
	box-sizing: border-box;
	padding-left: 30px;
	margin: 0px !important;
	box-sizing: border-box !important;
}

body#layout .blsm-journal-blossom {
	display: none;
}

body#layout .headerleft {
	width: 30%;
	box-sizing: border-box;
	padding-right: 10px;
	box-sizing: border-box !important;
}

body#layout .headerright {
	width: 60%;
	box-sizing: border-box !important;
}

body#layout #headerleft,
body#layout #headerright {
	width: 100%;
	margin: 0px !important;
}

body#layout .preloading {
	opacity: 1 !important;
}

body#layout .tm-menu {
	height: auto !important;
}

body#layout #main-wrapper #ads-blog {
	padding-left: 0px;
}

body#layout #ads-blog .widget {
	display: block;
}

body#layout .section {
	background: #fff !important;
	box-sizing: border-box !important;
}

body#layout .section {
	margin: 0px !important;
	box-sizing: border-box !important;
}

body#layout #main-wrapper {
	width: 60% !important;
	box-sizing: border-box !important;
}

body#layout #sidebar-wrapper {
	width: 40% !important;
	box-sizing: border-box !important;
}

body#layout #footerbar-wrapper {
	box-sizing: border-box;
	margin: 0px;
	padding: 10px;
	width: 30%
}

body#layout #footer {
	width: auto !important;
}

body#layout #hbartop {
	padding-left: 300px;
	padding-bottom: 20px;
	display: table;
	width: 100%;
}

body#layout .header-logo {
	width: 30%;
	float: left;
}

body#layout #main-nav {
	width: 60%;
	float: left;
}

body#layout #main-nav #menu {
	width: 50%;
	float: left;
}

body#layout #main-nav>#header social widget {
	width: 50%;
	float: left;
}

body#layout #mainpte {
	display: table;
	width: 100%;
	float: none;
	clear: left
}

body#layout #menu .widget {
	display: initial;
}

body#layout .menu-tab {
	display: none
}

body#layout #footerbar-wrapper {
	float: left;
}

body#layout #jcmts {
	padding-left: 290px;
	box-sizing: border-box;
	width: 100%;
}
